<% if(erros.length > 0) {%>
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-danger">
                <% erros.forEach((value) => {%>
                    <%= value %><br>
                <%});%>
            </div>
        </div>
    </div>
<%}%>
<%if(sucess.length > 0) {%>
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-success">
                <%= sucess %>
            </div>
        </div>
    </div>
<%}%>